*,
*:after,
*:before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Truculenta', sans-serif;
}
/*Common Styles*/
.Loader{
    position:fixed;
    z-index:999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.Loader .LoaderWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.Loader .LoaderWrapper .circleBall{
    display: inline-block;
    width: 1.5rem;
    height:1.5rem;
    border-radius: 50%;
    background: #00BFD8;
    animation: Loadergrow 1.6s infinite ease-in both;
}
.Loader .LoaderWrapper .circleBall:nth-child(1){
    animation-delay: 0s;
}
.Loader .LoaderWrapper .circleBall:nth-child(2){
    animation-delay: 0.2s;
}
.Loader .LoaderWrapper .circleBall:nth-child(3){
    animation-delay: 0.4s;
}
.Gototop{
    visibility:hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #00BFD8;
    color: white;  
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    animation: bounce 1.5s infinite;
}
.Gototop:hover{
    background: #00BFD8;
    animation: none;
}
/* Section Style */
.Section{
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 75px;
}
.Section .HeadingContent.Center{
    text-align: center;
}
.Section .HeadingContent.Center .subHeading{
    font-weight: bold;
    font-family: 'Truculenta', sans-serif;  
    font-size: 1.5rem;
}
.Section .HeadingContent.Center h2{
    display: inline-block;
}
.Section .HeadingContent h2{
    background: linear-gradient(45deg , #00BFD8 , #84ff3d );
    border-radius: 10px;
    font-size: 35px;
    color: #fff;
    padding: 1%;
    background-clip: text;
    font-weight: bolder;
    margin-bottom: 10px;
    position: relative;
}
/*Keyframe Animations*/
@keyframes bounce{
    0%,
    100%{
        transform: translateY(0%);
    }
    40%,
    60%{
        transform: translateY(50%);
    }
}
@keyframes Loadergrow{
    0%,100%{
        transform: scale(0);
        opacity: 0.3;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
}
/*Navbar Styles*/
.collapse_menu i.fa-bars,
.collapse_menu i.fa-times{
    font-size: 27px;
    cursor: pointer;
    color: #fff;
    display:none;
}
.logo-fahmi{
    height: 40px; 
    width: 40px;
    margin-right: 10px;
}

.navbar .navbar-brand{
    font-family: 'Truculenta', sans-serif;   
    font-weight: 900;
    font-size: 30px;
    color: #00BFD8;
}
.navbar{
    transition: all 0.5s;
    padding: 20px;
}
.navbar.shrink{
    line-height: 1;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 6px #000;
}
.navbar.shrink .nav-item .nav-link{
    font-family: 'Truculenta', sans-serif;  
    color: #00BFD8;
    font-weight: 700;
    font-size: 20px;
}
.navbar.shrink .nav-item.social .nav-link{
    font-family: 'Truculenta', sans-serif;  
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.navbar .nav-item .nav-link{
    font-family: 'Truculenta', sans-serif;  
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.hvrcenter {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvrcenter:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #00BFD8;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before {
    left: 0;
    right: 0;
}
/* Heading Style */
.Section .Heading{
    font-family: 'Truculenta', sans-serif; 
    background: linear-gradient(45deg , #00BFD8 , #84ff3d );
    border-radius: 20px;
    color: #fff;
    padding: 5%;
    background-clip: text;
    position: relative;
}
.Section .Heading .word h1 {
    font-family: 'Truculenta', sans-serif;   
    margin-top: 15px;
    line-height: 60px;
    font-weight: 900;
    color: #fff;
    font-size: 80px;
    background-clip: text;
}
.word h1 span {
	cursor: pointer;
	display: inline-block;
	user-select: none;
}
.word h1 span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}
@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	30%, 60% {
		transform: rotate(-45deg);
	}
}
.word h1 span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}
@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	80% {
		transform: scale(1) translate(0, 0);
	}
}
.word h1 span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}
@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	24% {
		transform: rotateX(150deg);
	}
	36% {
		transform: rotateX(200deg);
	}
	48% {
		transform: rotateX(175deg);
	}
	60%, 85% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
.word h1 span:nth-child(4).active {
	animation: rotate 1s ease-out;
}
@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
.word h1 span:nth-child(5).active {
	animation: toplong 1.5s linear;
}
@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}
.word h1 span:nth-child(6).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}
@keyframes falling {
	12% {
		transform: rotateX(200deg);
	}
	24% {
		transform: rotateX(110deg);
	}
	36% {
		transform: rotateX(150deg);
	}
	48% {
		transform: rotateX(125deg);
	}
	60%, 85% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
.word h1 span:nth-child(7).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom right;
}
@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	30%, 60% {
		transform: rotate(-60deg);
	}
}
.word h1 span:nth-child(8).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom left;
}
@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	45%, 50% {
		transform: scale(1) translate(0, -100px);
	}
	80% {
		transform: scale(1) translate(0, 0);
	}
}
.Section .Heading h2{
    line-height: 70%;
    font-size: 25px;
    color: #fff;
    background-clip: text;
    font-weight: 400;
}
.Section .Heading h2 span{
    font-size: 15px;
    font-weight: 200;
}
.Section .Heading p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}
.line{
    height: 1px;
    width: 80%;
    margin: 10px auto;
    background: #aaaaaa;
}
.modal-dialog iframe{
    margin: 0 auto;
    display: block;
}
.MainBtn{
    padding: 10px;
    display: flex;
}
.MainBtn .w-50{
    align-items: center;
}
.banner .MainBtn .Btn{
    padding: 8px 20px;
}
.MainBtn .Btn{
    font-family: 'Truculenta', sans-serif;  
    font-weight: 900;
    font-size: 14pt;
    margin-top: 20px;
    border: 2px solid #00BFD8;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    display: inline-block;
}
.MainBtn .Btn.Bg{
    margin-right: 15px;
    background: #00BFD8;
    color: #fff;
}
.MainBtn .Btn:hover {
    background: #00BFD8;
    color: #fff;   
}
.social{
    background: #00BFD8;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50%;
    transition: all 0.6s;
    display: inline-flex;
}
.social a{
    color: #fff;
}
.social:hover{
    background: #00BFD8;
}
/* Close Heading Style */

/* Banner Styles */
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center center;
}
.banner .layer{
    background: #a2d5f24b;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .layer .row .headerImg{
    background: url("../img/header-teamwork.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner .layer .row  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    transform: translateY(-200%);
}
.banner .layer .row  .col-12 .Discover{
    width: 40px;
    height: 40px;
    background: #00BFD8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateY(50%);
    animation: bounce 1s infinite;
    cursor: pointer;
}
.banner .layer .row  .col-12 .Discover:hover{
    animation: none;
}
/*Progress Bar & About Content*/
.about .logo-about{
    height: 250px; 
    width: 250px;
    float: right;
}
.about .content{
    padding: 40px 40px 70px 40px;
    font-family: 'Truculenta', sans-serif;  
}
.about .content .row .col-md-6 span {
    font-weight: bold;
    float: right;
    font-family: 'Truculenta', sans-serif;  
}
.about .content .row .col-md-6 p.skill{
    font-weight: bold;
    margin-bottom: 0px;
}
.about .content .row .progress {
    width: auto;
	position: relative;
    padding: 10px;
    margin-bottom: 10px;
}
.about .content .row .progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.content .row.accor{
    margin-top: 50px;
}
.accordion{
    width: 600px;
    margin-top: 5px;
}
.accordion .card{
    border-radius: 50px;
}
.accordion .card .card-header{
    background: #00BFD8;
}
.accordion .card .card-header button{
    color: #fff;
    border-radius: 50px;
    /* background-color: Transparent;
    background-repeat:no-repeat; */
    border: #00BFD8;
}
.accordion .fa{
    margin-right: 0.5rem;
}
/*Service Section*/
.Service{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(0,212,255,1) 100%);
}
.Service .Section .HeadingContent.Center h2{
    background: linear-gradient(45deg , #84ff3d, #00BFD8  );
}
.Service .content .row .card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.Service .content .row .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.Service .content{
    padding: 40px 40px 70px 40px;
    font-family: 'Truculenta', sans-serif;  
}
.Service .content .row  .card .CardImage{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.Service .content .row .col-md-6 {
    padding: 10px;
}
.Service .content .row  .card{
    padding: 10px;
    text-align:center;
    height: 350px;
}
.Service .content .row .card p{
    color: #aaaaaa;
    font-size: 0.8rem;
    font-weight:bold;
}
.Service .content .row .card .title{
    font-size: 25px;
    font-weight:bold;
}
/* Modal Image */
#image {
    padding-top: 10px;
    min-height:80%;
    width:100%;
}
/*Portfolio Filter*/
.Portfolio .content{
    padding: 40px 40px 70px 40px;
}
.Portfolio .content .Filter_List{
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
}
.Portfolio .content .Filter_List ul{
    text-align: center;
}
.Portfolio .content .inline-list li{
    display: inline-flex;
    list-style: none;
    padding: 5px 20px;
    border: 2px solid #00BFD8;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 10px;
}
.Portfolio .content  .Portfolio_projects .col-md-6{
    padding: 10px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}
.Portfolio .content  .Portfolio_projects .col-md-6:hover .Layer{
    opacity: 1;
}
.Portfolio .content  .Portfolio_projects .col-md-6 .Layer{
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #00bfd8b6;
    color: white;
    font-family: 'Truculenta', sans-serif;  
    transition: all 0.5s;
    font-size: 20px;
}
.Portfolio .content  .Portfolio_projects .col-md-6 .Layer .text{
    transform: translateY(200%);
    opacity: 0;
}
.Portfolio .content  .Portfolio_projects .col-md-6:hover .Layer .text{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
}
.Portfolio .content .inline-list li.active,
.Portfolio .content .inline-list li:hover{
    background: #00BFD8;
    color: white;
}
/*Pricing Section*/
.Pricing {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(0,212,255,1) 100%);
}
.Pricing .Section .HeadingContent.Center h2{
    background: linear-gradient(45deg , #84ff3d, #00BFD8  );
}
.Pricing .content{
    padding: 40px 40px 70px 40px;
}
.Pricing .content .col-md-3 {
    padding: 30px;
    align-items: center;
}
.Pricing .content  .card:hover{
    border: 1px solid #00BFD8;
    transform: translateY(-10px);
}
.Pricing .content .card{
    align-items: center;
    height: 420px;
    width: 240px;
    transition: all 0.2s ;
    text-align: center;
    padding: 10px;
}
.Pricing .content  .card .PlanType{
    font-size: 25px;
    font-weight: bold;
}
.Pricing .content  .card .PlanExplain{
    color: #aaaaaa;
    font-size: 0.8rem;
    font-family: 'Truculenta', sans-serif;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.Pricing .content  .card .PlanPrice{
    justify-content: center;
    align-items: center;
    color: #7e7e7e;
}
.Pricing .content  .card .PlanPrice .First{
    color: #00BFD8;
    font-size: 25px;
    padding:0px 10px 0px 10px;
}
.Pricing .content  .card .validity{
    color: #7e7e7e;
}
.Pricing .content  .card .PlanDetails{
    height: 70px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    padding: 0;
}
.Pricing .content  .card .PlanDetails .Detail{
    display:flex;
    justify-content:start;
    align-items:center;
}
.Pricing .content  .card .PlanDetails .fa-check{
    padding: 0 10px;
    color: #00BFD8;
}
.Pricing .content  .card.Premium{
    height: 440px;
    margin-top: -20px;
    padding-top: 20px;
    transform: scale(1.0);
    position: relative;
    overflow: hidden;
    border: 1px solid #00BFD8;
}
.Pricing .content  .card.Premium .PlanType{
    margin-top: 10px;
}
.Pricing .content  .card.Premium .Advertise{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: #00BFD8;
    width: 75%;
    padding: 10px 0;
    transform: rotate(45deg) translate(30% , -75%);
    z-index: -1;
}
.MainBtn.price .Btn.Bg{
    margin: 0px;
    margin-bottom: 25px;
}
/* Testimonial */
#Testimonial .content{
    padding: 40px 40px 70px 40px;
} 
.testimonial_095_slide>h5:hover {
    border: 1px solid #aa914f
}
#testimonial_095 {
    overflow: hidden;
    min-height: 400px;
    position: relative;
    background: #141414
}
#testimonial_095>.carousel-inner {
    width: 75%;
    margin: auto
}
#testimonial_095>.carousel-inner>.carousel-item {
    overflow: hidden
}
.testimonial_095_indicators>.carousel-indicators {
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap
}
.testimonial_095_indicators>.carousel-indicators li {
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%
}
.testimonial_095_indicators>.carousel-indicators .active {
    padding: 0;
    width: 10px;
    height: 10px;
    border: none;
    margin: 2px 3px;
    background: #1ed600;
    -webkit-border-radius: 100%;
    border-radius: 100%
}
.testimonial_095_indicators>.carousel-indicators::-webkit-scrollbar {
    height: 3px
}
.testimonial_095_indicators>.carousel-indicators::-webkit-scrollbar-thumb {
    background: #ffffff;
    -webkit-border-radius: 0;
    border-radius: 0
}
.testimonial_095_control_button .carousel-control-next,
.testimonial_095_control_button .carousel-control-prev {
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: 0 0;
    border: 2px solid #fff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .6s cubic-bezier(.3, 1, 0, 1);
    transition: all .6s cubic-bezier(.3, 1, 0, 1)
}
.testimonial_095_control_button .carousel-control-prev {
    left: 7%;
    right: auto
}
.testimonial_095_control_button .carousel-control-next {
    right: 7%;
    left: auto
}
.testimonial_095_control_button .carousel-control-next:hover,
.testimonial_095_control_button .carousel-control-prev:hover {
    color: #ffffff;
    background: #1ed600;
    border: 2px solid #ffffff
}
.testimonial_095_header>h5,
.testimonial_095_slide>h5,
.testimonial_095_slide>p {
    text-shadow: none;
    font-family: 'Truculenta', sans-serif;  
    -webkit-font-smoothing: antialiased
}
.testimonial_095_header {
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative
}
.testimonial_095_header>h5 {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase
}
.testimonial_095_header>h5>span {
    color: #1ed600;
    margin: 0 10px;
    position: relative
}
.testimonial_095_header>h5>span:after {
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    height: 1px;
    content: "";
    width: 100%;
    margin: auto;
    position: absolute;
    background: #1ed600
}
.testimonial_095_slide,
.testimonial_095_slide>img {
    right: 0;
    margin: auto;
    text-align: center;
    position: relative;
    top: 0;
    left: 0
}
.testimonial_095_slide {
    bottom: 0;
    width: 70%;
    padding: 20px
}
.testimonial_095_slide>img {
    width: 70px;
    height: 70px;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    border: 3px solid #f2f2f2;
    -webkit-border-radius: 100%;
    border-radius: 100%
}
.testimonial_095_slide>img:after {
    top: 0;
    left: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .1)
}
.testimonial_095_slide>img:hover:after {
    -webkit-animation: psBoxShadowEffect_2 2s ease-out;
    animation: psBoxShadowEffect_2 2s ease-out
}
.testimonial_095_slide>p {
    color: #f2f2f2;
    font-size: 14px;
    margin: 40px 0 20px
}
.testimonial_095_slide>p>a {
    color: #1ed600;
    padding: 2px 5px;
    text-decoration: none;
    -webkit-transition: all .3s cubic-bezier(.39, .575, .565, 1);
    transition: all .3s cubic-bezier(.39, .575, .565, 1)
}
.testimonial_095_slide>p>a:hover {
    color: #fff;
    background: #aa914f
}
.testimonial_095_slide>h5 {
    padding: 3px;
    color: #1ed600;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    -webkit-transition: border .5s cubic-bezier(.39, .575, .565, 1);
    transition: border .5s cubic-bezier(.39, .575, .565, 1)
}
.testimonial_095_slide>h5:hover {
    border: 1px solid #aa914f
}

/* Screen 480px */
@media only screen and (max-width:480px) {
    .testimonial_095_header {
        width: 95%
    }
    .testimonial_095_header>h5 {
        font-size: 20px
    }
    .testimonial_095_slide {
        width: 70%;
        padding: 5px
    }
}
/* Transition Animation */
@keyframes psBoxShadowEffect_2 {}
.ps_ease .carousel-item {
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}
.ps_easeInOut .carousel-item {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}
.ps_speedy .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0, 1);
    transition-timing-function: cubic-bezier(0, 1, 0, 1)
}
.ps_slowSpeedy .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.3, 1, 0, 1);
    transition-timing-function: cubic-bezier(.3, 1, 0, 1)
}
.ps_easeOutInCubic .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.22, .81, .01, .99);
    transition-timing-function: cubic-bezier(.22, .81, .01, .99)
}
.ps_swing .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.02, .01, .47, 1);
    transition-timing-function: cubic-bezier(.02, .01, .47, 1)
}
.ps_easeOutCubic .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}
.ps_easeInOutCubic .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.645, .045, .355, 1);
    transition-timing-function: cubic-bezier(.645, .045, .355, 1)
}
.ps_easeOutCirc .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.075, .82, .165, 1);
    transition-timing-function: cubic-bezier(.075, .82, .165, 1)
}
.ps_easeOutExpo .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}
.ps_easeInQuad .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.55, .085, .68, .53);
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}
.ps_easeOutQuad .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}
.ps_easeInOutQuad .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}
.ps_easeOutQuart .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-timing-function: cubic-bezier(.165, .84, .44, 1)
}
.ps_easeInOutQuart .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.77, 0, .175, 1);
    transition-timing-function: cubic-bezier(.77, 0, .175, 1)
}
.ps_easeOutQuint .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.23, 1, .32, 1);
    transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}
.ps_easeInSine .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.47, 0, .745, .715);
    transition-timing-function: cubic-bezier(.47, 0, .745, .715)
}
.ps_easeOutSine .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.39, .575, .565, 1);
    transition-timing-function: cubic-bezier(.39, .575, .565, 1)
}
.ps_easeInOutSine .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.445, .05, .55, .95);
    transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}
/* Team Section*/
.Team {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(0,212,255,1) 100%);
}
.Team .Section .HeadingContent.Center h2{
    background: linear-gradient(45deg , #84ff3d, #00BFD8  );
}
.Team .content{
    padding: 10px 40px 70px 40px;
}
.Team .content .team-member {
    border-radius: 10px;
    margin-top: 20px;
}
.Team .content .row .team-member .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.Team .content .row .team-member .card{
    padding: 0 0 20px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.Team .content .TopImg{
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.Team .content .TeamInfo .Name{
    margin: 10px 0;
    font-size: 25px;
    color: #00BFD8;
    font-weight: 900;
}
.Team .content .TeamInfo .Job{
    color: #000;
    font-size: 0.8rem;
    font-family: 'Truculenta', sans-serif;
    margin-bottom: 15px;
}
/*Contact Section*/
.Contact .content{
    padding: 40px 70px 40px 70px;
}
.Contact .content .col-md-6 div .form-group{
    padding: 10px;
}
.Contact .content .col-md-6 div input:not([type="checkbox"]){
    height: 50px;
}
.Contact .content .col-md-6 div input[type="checkbox"]{
    margin: 10px;
}
.Contact .content .col-md-6 div textarea{
    height: 150px;
}
.Contact .content .Btn.Bg{
    font-family: 'Truculenta', sans-serif;  
    font-weight: 900;
    font-size: 20pt;
    align-items: center;
    border: 2px solid #00BFD8;
    background: #00BFD8;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    transition-delay: 0s;
    display: inline-block;
}
/*Footer Section*/
.Footer{
    background: #a2d5f24b;
    border-top: 1px solid #7e7e7e;
    padding: 20px 0px 0px 0px;
}
.Footer .row .FooterHeading{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
}
.Footer .row .col-12{
    font-size: 16px;
}
.Footer .row .Explain {
    margin: 5px 0;
    font-size: 18px;
}
/*For Responsive Design 700px*/
@media (min-width:481px) and (max-width:767px) {
    .testimonial_095_control_button .carousel-control-prev {
        left: 2%
    }
    .testimonial_095_control_button .carousel-control-next {
        right: 2%
    }
    .testimonial_095_header {
        width: 95%
    }
    .testimonial_095_slide {
        width: 98%;
        padding: 5px
    }
}
/*For Responsive Design 600px*/
@media (max-width: 600px){
    .navbar{
        padding: 0!important;
        height: 60px;
    }
    .content{
        padding: 0!important;
    }
    .headerImg{
        display: none!important;
    }
    .Dicover_Parent{
        display: none!important;
    }
    .navbar.shrink .nav-item.social .nav-link{
        float: inline-end;
    }
    /* Section Style */
    .Section{
        width: 100%;
        height: 100%;
        padding: 75px 10px 50px 10px;
    }
    .Section .Heading .word h1 {
        font-size: 60px;
    }
    /*Progress Bar & About Content*/
    .about .logo-about{
        margin-top: 10px;
        height: 100px; 
        width: 100px;
        margin-bottom: 10px;
    }
    .about .content{
        margin-top: 20px;
    }
    .about .content .row .col-md-6 span {
        float: right;
        font-weight: bold;
    }
    .about .content .row .progress {
        padding: 10px;
        margin-bottom: 10px;
    }
    .about .content .row .col-5{
        display: none !important;
    }
    .about .content .row .col-md-4{
        width: 400px;
    }
    .about .content .row .col-md-4 h2{
        font-size: 1.4rem;
    }
    .content .row{
        padding: 0px 20px;
    }
    .content .row.accor{
        padding: 0px 20px;
    }
    .about .accordion{
        width: 100%;
    }
    /*Service Section*/
    .Service{
        background: linear-gradient(45deg , #00BFD8 , #84ff3d );
    }
    .Service .Section .HeadingContent.Center h2{
        background: #00BFD8;
    }
    .Service .content .row{
        padding: 20px 40px 20px 40px;
    }
    .Service .content .row .card .card-img-top{
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }
    .Service .content .row .col-md-6 {
        padding: 10px;
        width: 50%;
        height: 50%;
    }
    .Service .content .row .card{
        height: 275px;
        padding: 5px;
        text-align:center;
    }
    .Service .content .row .card p{
        color: #aaaaaa;
        font-size: 0.75rem;
        font-weight:bold;
    }
    .Service .content .row .card .title{
        font-size: 1.2rem;
        font-weight:bold;
    }
    /*Pricing*/
    .Pricing .content .row{
        padding: 20px 40px 20px 40px;
    }
    .Section .HeadingContent.Center .subHeading{
    font-size: 0.8rem;
    }
    /*Portfolio*/
    .Portfolio .content .Filter_List{
        padding: 10px;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .Portfolio .content .Filter_List ul{
        text-align: center;
    }
    .Portfolio .content  .Portfolio_projects .row{
        justify-content: center;
    }
    .Portfolio .content  .Portfolio_projects .col-md-6{
        padding: 10px;
        position: relative;
        transition: all 0.5s;
        cursor: pointer;
        width: 75%;
        height: 75%;
    }
    /*Teams Section*/
    .Team .content .TopImg{
        padding: 20px;
        width: 200px;
        margin: 0 auto;
        height: 200px;
    }
    .Team .content .row{
        padding: 20px 40px 20px 40px;
    }
    .Team .content .row .team-member .card{
        width: 100%;
        height: 100%;
    }
    #Testimonial .content{
        margin-top: 20px;
    } 
    /*Contact Section*/
    .Contact .content .row{
        padding: 20px 40px 20px 40px;
    }
    .Contact .content .col-md-6 div .form-group{
        padding: 10px;
    }
    .Contact .content .col-md-6 iframe{
        width: 250px;
        height: 350px;
    }
    .Contact .content .col-md-6 div input:not([type="checkbox"]){
        height: 50px;
    }
    .Contact .content .col-md-6 div input[type="checkbox"]{
        margin: 10px;
    }
    .Contact .content .col-md-6 div textarea{
        height: 150px;
    }
    /* Footer */
    .Footer .row .Explain {
        margin: 5px 0;
        font-size: 13px;
        font-weight: bold;
        text-align:center;
    }
    .Footer .row .col-12{
        font-size: 13px;
        font-weight: bold;
    }
}
/*For Responsive Design 900px*/
@media (min-width:768px) and (max-width:991px) {
    .testimonial_095_control_button .carousel-control-prev {
        left: 5%
    }
    .testimonial_095_control_button .carousel-control-next {
        right: 5%
    }
}
/*For Responsive Design 800px*/
@media (max-width: 800px){
    .collapse_menu.deactive .fa-bars{
        color: #04616d;
        display: block;
    }
    .collapse_menu.active .fa-bars{
        color: #fff;
        display: none;
    }
    .collapse_menu.deactive .fa-times{
        color: #fff;
        display: none;
    }
    .collapse_menu.active .fa-times{
        color: #04616d;
        display: block;
    }
    .navbar .collapse_menu.deactive ul.nav{
        position: fixed;
        top: 60px;
        left: -55vw;
        width: 55vw;
        height: 100%;
        display: inline-block;
        background: #00BFD8;
        transition: all 0.5s;
    }
    .navbar .collapse_menu.active ul.nav{
        left: 0;
        color: #00BFD8;
    }
    .navbar ul.nav li a{
        transition: all 0.5s;
        color: #fff!important;
    }
    .navbar ul.nav li{
        width: 100%;
        padding: 10px 20px;
        transition: all 0.5s;
    }
    .navbar ul.nav li:hover{
        background: #00BFD8;
    }
    .navbar ul.nav li:hover a{
        margin-left: 20px;
    }
    .navbar ul.nav .nav-item{
        display: block;
    }
    .Pricing .content  .card.Premium{
        transform: scale(1.05)
    }
}